/* table {
  font-family: monospace;

  border-collapse: collapse;
}

td {
  border: 1px solid #ccc;
  width: 20px;
  height: 20px;
  text-align: center;
  position: relative;
}

td.prediction {
  color: #afafaf;
}

td.highlight {
  background-color: lightcyan;
}

header {
  margin-bottom: 10px;
}

header button {
  margin-left: 10px;
} */

elm-canvas {
  display: block;
}

.toolbar {
  display: flex;
  margin-bottom: 10px;
}

footer {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}
